
<div class="content-form">
    <h3>Bir Yorum Yapın</h3>

    <form method="post">
        
        <input type="text" placeholder="BlogID" name="BlogId" value="@ViewBag.deger" required/>
        <input type="text" placeholder="Kullanıcı Adı" name="User_Name" required />
        <input type="text" placeholder="Email" name="Mail" required />
        <textarea placeholder="Yorumunuzu girin" name="UserComment"></textarea>
        <input type="submit" value="Gönder" />
    </form>

</div>